.App {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.pagination {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.pagination button {
    background-color: #afb0b5;
    color: #27272d;
    padding: 6px 12px;
    border-radius: 50%;
    transition: 0.2s;
}

.pagination button:hover {
    filter: brightness(0.9);
}

.pagination span {
    cursor: default;
}
